$backGroundWhite: ghostwhite;

.app-wrap {
  width: 100%;
  display: flex; 
  flex-direction: row; 
  justify-content: center;
}

.bg-whaite {
  background-color: backGroundWhite;
}

@media (min-width: 767.98px) { 

  .app-wrap {
    width: 100%;
    padding: 5% 5%;
  }
}